@inherits Blazing.Mvvm.Components.MvvmComponentBase<clypse.portal.Application.ViewModels.MultiLineTextFieldViewModel>

<div class="mb-3">
    <label class="form-label">@Label</label>
    <textarea class="form-control"
              rows="@Rows"
              value="@ViewModel.Value"
              @oninput="async e => await ViewModel.OnValueChangedAsync(e.Value?.ToString())"
              placeholder="@Placeholder"
              style="resize: vertical;"
              readonly="@IsReadOnly"></textarea>
</div>
